.Screen1BottomMarquee{
    font-size:220px;
    background: linear-gradient(rgba(241, 241, 241, 0), rgba(9, 9, 9, 0.88));
    position: absolute;
    bottom: 0;
    color: white;
    width: 100vw;
}
.Screen1BottomInfo{
    display: none;
}
.Screen1TopGithub{
    height: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.Screen1TopGithubName, .Screen1TopName{
    transition: 0.5s;
}
.Screen1TopGithub:hover .Screen1TopGithubName{
    translate: 0 -30px;
    transition: 0.5s;
}
.Screen1TopGithub:hover .Screen1TopName{
    translate: 0 -20px;
    transition: 0.5s;
}
@media screen and (max-width: 1657px) {
    .Screen1BottomMarquee{
        font-size:200px;
    }
}
@media screen and (max-width: 1657px) {
    .Screen1BottomMarquee{
        font-size:200px;
    }
}
@media screen and (max-width: 1228px) {
    .Screen1BottomMarquee{
        font-size:150px;
    }
}
@media screen and (max-width: 835px) {
    .Screen1BottomInfo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 528px) {
    .Screen1BottomMarquee{
        font-size:120px;
    }
}
