.NavBarButton{
    background-color: #171717;
    outline: none ;
    border: 0 solid transparent;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 50px 5px rgba(0, 0, 0, 0.29);
    font-weight: 100;
    transition: 0.5s;
    transform-style: preserve-3d;
    perspective: 500px;
    border: 1.5px solid rgba(128, 128, 128, 0.438);
}

.NavBarButton:hover {
    transition: 0.5s;
    transform: scale3d(100%,100%,150%);
    background-color: #5a72ea;
    /*color: #171717;*/
}
.NavBarRightMenu,.NavBarRightMenuMobile{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    list-style: none;
    gap: 30px;
    color: white;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-size: 17px;
}
.NavBarRightMenu li:hover,.NavBarRightMenuMobile li:hover{
    border-bottom: 2px solid #171717;
    letter-spacing: 2px;
    transition: 0.5s;
    color: #171717;
}
.NavBarRightMenuMobile{
    display: none;
}
.NavBarRightMenuMobile li{
    transition: 0.5s;
}
.HamburgerMenu{
    background: #171717;
    height: 100vh;
    width: 470px;
    z-index: 1000;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .HamburgerMenu{
        width: 100vw;
    }
    .NavBarRightMenu{
        display: none;
    }
    .NavBarRightMenuMobile{
        display: inline-block;
    }
}
