.NavBarButton{
    background-color: #171717;
    outline: none ;
    border: 0 solid transparent;
    color: white;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 50px 5px rgba(0, 0, 0, 0.29);
    font-weight: 100;
    transition: 0.5s;
    transform-style: preserve-3d;
    perspective: 500px;
}

.NavBarButton:hover {
    transition: 0.5s;
    transform: scale3d(100%,100%,150%);
    background-color: #5a72ea;
    /*color: #171717;*/
}
.NavBarRightMenu{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    list-style: none;
    gap: 30px;
    color: white;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-size: 15px;
}
.NavBarRightMenu li:hover{
    border-bottom: 2px solid #171717;
    letter-spacing: 2px;
    transition: 0.5s;
    color: #171717;
}
.HamburgerMenu{
    background: #171717;
    height: 100vh;
    width: 350px;
    z-index: 1000;
    position: fixed;
    right: 0;
}
