@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    background-image: url("https://res.cloudinary.com/dy0ejrc3m/image/upload/v1700603228/lbaayxfsnn5nfjsaqjg8.png");
    background-size: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: border-box;
    background-position: center;
    background-color: rgba(224, 167, 120, 0.85);
}
html,
body,
#root {
    width: 100vw;
    margin: 0;
    padding: 0;
    /* Prevents overflow on the x-axis */
    overflow-x: hidden;
}

